.body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #f3f6fa;
  position: fixed;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 180px;
  background: #0f2239;
  color: white;
  padding-top: 30px;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
  padding-left: 10px;
}

.logo img {
  width: 45px;
}

.logo span {
  font-weight: 600;
}

.sidebar .menu {
  margin-top: 20px;
  line-height: 2.3;
  padding-left: 20px;
}

.sidebar .menu a {
  color: white;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
}

.sidebar .menu a.active {
  background: white;
  color: #0f2239;
  padding: 8px;
  border-radius: 6px;
  width: 120px;
}

.navbar {
  position: fixed;
  left: 180px;
  top: 0;
  right: 0;
  background: #0f2239;
  color: white;
  padding: 15px 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 25px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.navbar a.active {
    border-bottom: 2px solid white;
    padding-bottom: 3px;
}

.search-bar {
    width: 75%;
    background: white;
    padding: 15px;
    border-radius: 25px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.flex {
    display: flex;
    align-items: center;
}

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro-card {
    width: 45%;
    background: #cdd9e8;
    padding: 25px;
    margin-top: 25px;
    border-radius: 12px;
    display: flex;
    gap: 20px;
}

.intro-card img {
    width: 120px;
    height: auto;
}

.intro-text {
    width: 70%;
    font-size: 13px;
    line-height: 1.6;
}

.search-container {
    margin-left: 150px;
    padding: 50px 50px;
}

.search-box {
  width: 300px;
  border: 2px solid #153050;
  border-radius: 12px;
  padding: 8px 15px;
  outline: none;
}

.content {
  margin-left: 180px;
  background: white;
  padding: 10px 10px;
  min-height: 100vh;
}

.tabs {
  background: #dcdcdc;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  gap: 50px;
}

.tabs button {
  padding: 10px 25px;
  font-size: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.tabs .active {
  background: white;
  color: black;
  font-weight: bold;
  border: 2px solid #123456;
}

.course-card {
  background: #153A5C;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin-top: 20px;
  border-radius: 10px;
  align-items: center;
}

.course-info {
  display: flex;
  gap: 15px;
}

.course-info img {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  background: #ccc;
}

.course-details p {
  margin: 5px 0;
  font-size: 14px;
}

.progress-container {
  width: 200px;
  background: #dcdcdc;
  height: 10px;
  border-radius: 20px;
}

.progress-fill {
  height: 100%;
  background: #4CAF50;
  width: 45%;
  border-radius: 20px;
}

.progress-65 { width: 65%; }
.progress-95 { width: 95%; }

.chat-btn {
  background: white;
  color: black;
  border: none;
  padding: 10px 25px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.profile-img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #ccc;
}